.item{
    cursor: pointer;
}


.item-caption{
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    left: 10%;
    width: 80%;
    text-align: center;
    
    
}

#lightboxcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

#lightbox{
    height: 70vh;
    width: 50%;
    background-image: url("./images/car-1.jpg");
   
    background-size: cover;
    background-position: center center;

} 